<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="URLShort" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=WinVF;Integrated Security=True;Connection Timeout=600"/>
  </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
